body{
    margin: 0%;
    margin-top: 15px;
    background-color:black;
} 
header{
    text-align: center;
    font-size: xx-large;
    background-color: darkblue;
    border-radius: 50px;
}

#commend{
    font-size: 21px;
    margin: 5px;
    background-color:darkblue;
    width: 65%;
    float: right;
    border-radius: 25px 25px;
    padding-bottom: 5px;
    text-align: center;

}
h2,b{
    text-align: center;
    font-size: larger;
}
nav{
    height: 100px;
    margin: 5px;
    float: left;
    width: 33%;
    background-color: darkblue;
    border-radius: 25px 25px;
    padding-bottom: 5px;
}

li{
    display: inline;
    padding: 10px;
    
}
ul{
    padding: 5px;
    text-align: center;
    padding-top: 20px;

}
#hack:link{
    
    text-decoration: none;
    font-size: x-large;
    padding: 15px;

    color: white;
}

#hack:visited{
    text-decoration: none;
    color: black;

}
#hack:hover{
    text-decoration: none;
    color: red;
    font-size: 50px;
    transition: 0.9s;
}
#hack:active{
    text-decoration: none;
    color: blue;
}
#social{
    display: block;
    /* margin-top: 130px; */
    background-color: blueviolet;
    float: left;
    width: 18%;
    height: 250px;
    margin: 5px;
    text-align: center;
    border-radius: 50px;
}
h1{
    margin-right: 24px;
}
i{
    display: block;
    margin: 5px;
    font-size: x-large;
}
#telegram-channel{
    text-decoration: none;
    color: rgb(0, 255, 21);
    padding: 5px;
    font-size: 29px;
    display: block;
}
#telegram-channel:visited{
    text-decoration: none;
}
#telegram-channel:hover{
    text-decoration: none;
    color: red;
    font-size: 35px;
    transition: 0.5s;
}
#telegram-channel:active{
    text-decoration: none;
    color: blue;
}
#news{
    margin: 5px;
    /* margin-top: 130px; */
    background-color: red;
    border-radius: 60px;
    float: right;
    width: 80%;
    text-align: center;
    font-size: larger;
}

